MIMO_API_KEY=your_api_key_here
MIMO_BASE_URL=https://token-plan-cn.xiaomimimo.com/v1
MIMO_MODEL_NAME=mimo-V2.5-Pro

EMBEDDING_API_KEY=your_api_key_here
EMBEDDING_BASE_URL=https://token-plan-cn.xiaomimimo.com/v1
EMBEDDING_MODEL_NAME=BAAI/bge-m3
